@import 'variables';

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 110;
}

.cart {
  position: fixed;
  right: -500px;
  top: 0;
  width: 450px;
  height: 100%;
  background: $background-color;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  margin: 0;
}

.cart.open {
  right: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0;

  &__title {
    font-size: 28px;
    color: $dark-color;
    margin: 10px 0;
  }

  &__close {
    font-size: 24px;
    cursor: pointer;
    color: $dark-color;
    margin: 10px 0;
  }
}

.items {
  flex: auto;
  overflow: auto;
  padding: 10px;
}

.item {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;

  &__foto {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  &__name {
    font-size: 20px;
    color: $brown-color;
    margin: 10px 0;
  }

  &__price {
    font-size: 18px;
    color: $brown-color;
  }

  &__qty{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__quantity {
    font-size: 16px;
    color: $brown-color;
  }

  &__minus, &__plus {
    width: 25px;
    height: 25px;
    color: $white-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    border: none;

    &:disabled {
      background: #ccc;
      color: #666;
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  &__minus {
    background: $orange-gradient;
  }

  &__plus {
    background: $red-gradient;
  }

  &__remove {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: $brown-color;
  }
}


.footer {
  padding: 20px;

  &__total {
    display: flex;
    // justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 25px;
    color: $element-color;
  }

  &__price {
    font-size: 25px;
    color: $dark-color;
  }
}

.checkout {
  display: block;
  background: linear-gradient(90deg, $orange-gradient, $red-gradient);
  color: $white-color;
  padding: 12px;
  text-align: center;
  border-radius: 20px;
}
