@import '../../../styles/variables';

.hero {
  height: 100vh;
  background: url("../../../assets/fon.png") center/cover no-repeat;
  // background: url("");
  position: relative;
  display: flex;
  align-items: center;
}

.hero__overlay {
  background: rgba(0, 0, 0, 0.55);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero__content {
  // color: #fff;
  max-width: 600px;
  margin-left: 8%;
}

.hero__subtitle {
  font-size: 14px;
  letter-spacing: 3px;
  // color: $text-color;
  color: #ff9a5a;
  opacity: 0.8;
  margin-bottom: 10px;
}

.hero__title {
  font-size: 76px;
  font-weight: 600;
  line-height: 1.2;
  // margin-bottom: 20px;
  margin: 0;
  color: $white-color;
}

.gradient-text {
  background: #fb4b45;
  // background: linear-gradient(90deg, #fb4b45, #ff9a5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__description {
  font-size: 16px;
  // margin-bottom: 30px;
  opacity: 0.9;
  margin: 20px 0;
  color: $white-color;
}

.hero__button {
  padding: 12px 28px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: $white-color;
  background: linear-gradient(90deg, #fb4b45, #ff9a5a);
  transition: 0.3s ease;
}

.hero__button:hover {
  opacity: 0.85;
}
