@import 'variables';

.header {
  margin-top: 63px;
  padding: 40px 20px 40px;
  text-align: center;
  margin-bottom:  0;
  background-color: $header-color;

  &__h1 {
    font-size: 58px;
    margin: 20px 0 12px;
    padding: 0px;
    color: $brown-color;
  }

  &__subtitle {
    color: $red-gradient;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
  }

  &__description {
    margin: 0px;
    padding: 0px;
    color: $text-color;
  }
}

.menu_page {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
  padding: 10px 40px;
  background: $background-color;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}

.filters {
  text-align: center;
  margin: 15px 0;

  &__button {
    margin: 5px;
    padding: 8px 16px;
    border-radius: 20px;
    background: $header-color;
    border: 1px solid $brown-color;
    cursor: pointer;

    &:hover {
      border: 1px solid $brown-color;
    }

    &.active {
      background: linear-gradient(90deg, $red-gradient, $orange-gradient);
      border: 1px solid $red-gradient;
      color: $white-color;
    }
  }
}

.castom {
  background-color: $header-color;
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  gap: 60px;
  border-radius: 50px;

  &__title {
    color: $brown-color;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  &__text {
    color: $element-color;
    line-height: 1.6;
    margin-bottom: 15px;
  }

  &__button {
    background: linear-gradient(90deg, $red-gradient, $orange-gradient);
    color: $white-color;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
  }

  &__foto {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
  }
}
