<div class="top_bar">
  <a routerLink="/" class="top_bar__logo_link">
    <img
      src="assets/Sweeties.png"
      alt="Nice & Gadgets"
      class="top_bar__logo"
    />
  </a>

  <div class="top_bar__right">
    <app-nav-bar (close)="onMenuClose()"></app-nav-bar>

    <div class="top_bar__actions">

      <!-- <div class="theme_button" (click)="toggleTheme()">
        <span role="img" aria-label="light moon">
          🌕
        </span>
      </div> -->

      <div class="iconButton">
        <button class="cart__btn" (click)="openCart.emit()">
          <img src="assets/gray-basket.png" alt="" class="add__foto" />
        </button>

        <span *ngIf="cart.items.length > 0" class="badge">
          {{ cart.items.length }}
        </span>
      </div>

    </div>

  </div>

</div>
