<section class="hot_menu">
  <div class="hot_menu__container">

    <div class="hot_menu__header">
      <div>
        <p class="hot_menu__header__subtitle">— OUR SPECIALTIES</p>
        <h2 class="hot_menu__header__title">Sweet Temptations</h2>
      </div>

      <div>
        <p class="hot_menu__header__description">
          Every item is baked fresh daily using locally sourced ingredients
          and time-honored recipes passed down through generations.
        </p>

        <div class="hot_menu__header__buttons">
          <button class="hot_menu__header__button" (click)="prev()"><</button>
          <button class="hot_menu__header__button" (click)="next()">></button>
        </div>
      </div>
    </div>

    <div class="hot_menu__cards">
      <app-product-card *ngFor="let item of visibleItems" [item]="item"></app-product-card>
    </div>

    <div class="center">
      <button routerLink="/menu" class="view-all">View Full Menu →</button>
    </div>

  </div>
</section>
