$background-color: #FFF5E7;
$dark-color: #161827;
$dark-grey-color: #323542;
$gray-color: #3B3E4A;
$element-color: #4A4D58;
$text-color: #75767F;
$white-color: #f8f4f1;
$white-border: #ecdad1;
$header-color: #ffecda;

$orange-gradient: #ff9a5a;
$red-gradient: #fb4b45;

$brown-color: #4a2e2a;

